<div class="page">
  <div class="card flex justify-content-center m-5">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Junior Software Engineer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>Posted On: </h4>
        <p class="m-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card flex justify-content-center m-5">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Junior Software Engineer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>Posted On: </h4>
        <p class="m-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card flex justify-content-center m-5">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Junior Software Engineer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>Posted On: </h4>
        <p class="m-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card flex justify-content-center m-5">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Junior Software Engineer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>Posted On: </h4>
        <p class="m-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card flex justify-content-center m-5">
    <mat-card class="custom-card">
      <mat-card-header>
        <mat-card-title>Junior Software Engineer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>Posted On: </h4>
        <p class="m-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Repeat for other cards -->
</div>
