<div class="uper-region">
    <h1>Get In Touch</h1>
    <p>Want to get in touch? We would love to hear from you.</p>
</div>
<div class="below-region">
    <div class="card-1">
        <div class="animation" id="animation-container"></div>
        <h3>Talk To Sales</h3>
        <p>Want to get in touch? We would love to hear fWe would love to We would love to rom you.</p>
    </div>
    <div class="card-2">
      <div class="animation" id="animation-chat"></div>
      <h3>Reach Our Customer Service</h3>
      <p>Want to get in touch? We would love to hear from you.</p>
    </div>
</div>
