* {
  box-sizing: border-box;
}

.empHome {
  position: relative;
  background-color: transparent; /* Ensure no default background color is applied */
  overflow: hidden; /* Prevent the pseudo-element from overflowing */
  min-height: 100vh; /* Ensures it covers the full viewport height */
}

.empHome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/BgImages/Employee.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Make the background fixed */
  opacity: 0.9;
  z-index: -1; 
}

.main,
.jobs,
.search,
.example-section,
.card-container,
.card {
  position: relative; /* Ensure these elements are positioned above the pseudo-element */
}

.jobs {
  display: flex;
  gap: 85px;
  margin-top: 140px;
  margin-left: 80px;
}

.inp {
  border-radius: 25px;
  color: red;
}

.main {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.search {
  margin-top: 180px;
  margin-left: 60px;
}

.custom-width {
  /* Custom input width if needed */
}
  
.card-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center;
  
}

.card {
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 16px; 
  text-align: center;
  margin-bottom: 30px;
  background-color: rgba(26, 23, 23, 0.6); 
}

/* Responsive design adjustments */
@media (max-width: 1050px) {
  .card {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 800px) {
  .card {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 330px) {
  .card {
    width: 250px;
    height: 200px;
  }
}

.example-section {
  top: 20px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 8px;
  margin-top: 2px;
  width: 200px;
  margin-left: 20px;
}

.seeMoreBtn {
  background-color: rgb(230, 223, 196);
  border-radius: 15px;
  padding: 15px;
  font-size: 12px;
}

.custom-green-button {
  background-color: #181717 !important;
  color: #ffdb00 !important;
  margin-left: 5px;
}

::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper {
  border-radius: 20px;
}
  
.desc {
  color: white;
  overflow: hidden; /* Hides the overflow text */
  text-overflow: ellipsis; /* Adds ellipsis at the end */
  display: -webkit-box; /* Required for ellipsis */
  -webkit-box-orient: vertical; /* Vertical box layout */
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  max-height: 4.5em; /* Adjust according to line-height */
  line-height: 1.5em; /* Adjust for your line height */
}