
<!-- <app-jobs></app-jobs> -->
<div class="bsnOwnerHome">
<h1 class="title">My Active Businessess</h1>
<div class="page">
    <div class="card justify-content-center">
      <mat-card class="custom-card" *ngFor="let business of businesses">
        <mat-card-header>
          <mat-card-title>{{ business.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h4>Posted On: {{ business.createdOn | date:'shortDate'}}</h4>
          <p class="m-2">{{ business.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>