.title{
  font-size: 40px;
  font-weight: 500;
  font-family:   'Lucida Sans', Arial, sans-serif;
  color: #ffa601;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  max-width: 700px;
  margin: 120px auto;
}

.card {
  width: 700px;
}

.custom-card {
  background-color: lightblue !important; /* Set your desired background color */
  padding: 16px; /* Add some padding for a better look */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}
.card1{
}

.btns{
  display: flex;
  justify-content: space-evenly;
}


.insideDetails{
  font-size: larger;
  font-weight: 600;
  margin-right: 15px;
}