<div class="join">
  <div class="tag">
    <h1>What You are Today.?</h1>
  </div>
  <div class="sites">
    <div class="animation-container" id="employee" (click)="role('Employee')">
      <!-- Lottie animation for Employee -->
      <div class="animation"></div>
      <p>Employee</p>
    </div>
    <div class="animation-container" id="employer" (click)="role('Employer')">
      <!-- Lottie animation for Employer -->
      <div class="animation"></div>
      <p>Employer</p>
    </div>
    <div class="animation-container" id="investor" (click)="role('Investor')">
      <!-- Lottie animation for Investor -->
      <div class="animation"></div>
      <p>Investor</p>
    </div>
    <div class="animation-container" id="owner" (click)="role('Owner')">
      <!-- Lottie animation for Owner -->
      <div class="animation"></div>
      <p>Owner</p>
    </div>
  </div>
</div>

<!-- (click)="openYt()" -->
