.join {
  position: relative; /* Ensure the pseudo-element can be positioned absolutely within this element */
  overflow: hidden; /* Ensure that the pseudo-element stays within the bounds */
}

.join::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/BgImages/LandingPage.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust opacity here */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.tag h1 {
  padding-top: 120px;
  text-align: center;
  margin-bottom: -100px;
}

.sites {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 150px;
  scale: 0.6;
}

.animation-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.animation-container p {
  margin-top: 20px;
  font-size: 46px;
  color: white;
}

@media only screen and (max-width: 400px) {
  .tag h1 {
    font-size: 25px;
    color: red;
    margin-bottom: 5px;
  }

  .sites {
    flex-direction: column;
    align-items: center;
    scale: 0.9;
  }

  .animation-container {
    margin: 10px 0;
  }
}
