<div class="ab">


<h2>How are we different?</h2>
<div class="container">
  <div class="about-section">
    <div class="point"><span class="number">1|</span> Lorem ipsum dolor sit amet consectetur adirr sit amet consectetur adi sit amet consectetur adipisicing elit. </div>
    <div class="point"><span class="number">2|</span> Lorem ipsum dolor sit amet consecter sitr sit amet consectetur adi amet consectetur aditur adipisicing elit.</div>
    <div class="point"><span class="number">3|</span> Lorem ipsum dolor, sit amet consecr sit amer sit amet consectetur adit consectetur aditetur adipisicing elit. </div>
    <div class="point"><span class="number">4|</span> Lorem ipsum dolor sit amet, cor sit amet consectetur adinsecter sit amet consectetur aditur adipisicing elit. </div>
  </div>
  <hr class="bold-line">
</div>
<h2>TESTIMONIALS</h2>
<div class="testimonials">
  <div class="first">
    <div class="icon">
      <span class="pi pi-user"></span>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cumque minima porro, accusamus animi sapiente provident eligendi iusto harum volu.</p>
  </div>
  <div class="first">
    <div class="icon">
      <span class="pi pi-user"></span>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cumque minima porro, accusamus animi sapiente provident eligendi iusto harum volu.</p>
  </div>
</div>
</div>