.ab {
  position: relative;
  overflow: hidden; /* Ensure that the pseudo-element stays within the bounds */
}

.ab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/BgImages/LandingPage.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust opacity here */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

h2 {
  text-align: center;
  margin-top: 5px;
}

.container {
  width: 60%; /* Adjust as needed */
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; /* Space between the points and the line */
}

.point {
  display: flex;
  align-items: flex-start;
  flex: 0 0 45%;
  font-size: 1em;
  margin: 40px 0;
}

.number {
  font-weight: bold;
  font-size: 4em;
  margin-right: 15px; /* Space between number and text */
  line-height: 1; /* Align number and text vertically */
}

.bold-line {
  width: 100%; /* Full width of the container */
  border: none;
  border-top: 5px solid black; /* Adjust thickness and color as needed */
  margin: 0; /* Remove default margins */
}

.testimonials {
  /* background-color: bisque; */
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first {
  display: flex;
  width: 600px;
  border-radius: 20px;
  background-color: rgb(233, 227, 189);
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.first p {
  font-weight: 600;
}

.icon {
  width: 70px;
  padding: 15px;
  border-radius: 20px;
  /* border: 1px solid black; */
  background-color: rgb(186, 197, 207);
}
