<div class="ab">
  <h2 style="font-size: 40px; font-weight: 600;">How are we different?</h2>
  <div class="container">
    <div class="about-section">
      <div class="point"><span class="number">1|</span> All-in-One Platform: HireHive brings together job searching, CV
        creation, and business resources, offering a seamless experience for employees, employers, business owners, and
        investors. </div>
      <div class="point"><span class="number">2|</span> Effortless CV Creation: Build professional resumes quickly with
        integrated tools making the process fast, simple, and hassle-free.</div>
      <div class="point"><span class="number">3|</span> Empower Your Business: Access insightful videos and resources
        designed to help business owners make smarter decisions and strategically grow their businesses. </div>
      <div class="point"><span class="number">4|</span> Unlock Opportunities: Our unique investor portal helps business
        owners find the funding they need while giving investors access to innovative startups ready to grow. </div>
    </div>
  </div>
</div>