<div class="main-container">
  <div class="about">
    <div class="about-content">
      <h1 style="font-weight: 600;">Mission</h1>
      <br>
      <p>To provide an all-in-one platform where employees can create CVs, employers can hire efficiently, business owners access growth resources, and investors connect with ventures, streamlining professional growth and business success.</p>
    </div>
    <div class="about-img">
      <img src="../../../../assets/Vision.jpeg" alt="Placeholder Image 1">
    </div>
  </div>
  <div class="who">
    <div class="who-img">
      <img src="../../../../assets/Mission.jpeg" alt="Placeholder Image 1">
    </div>
    <div class="who-content">
      <h1 style="font-weight: 600;">Vision</h1>
      <br>
      <p>To create a unified platform where professionals, businesses, and investors seamlessly connect, unlocking opportunities for career advancement, business growth, and impactful investments.</p>
    </div>
  </div>
  <div class="what">
    <div class="what-content">
      <h1 style="font-weight: 600;">OUR STORY</h1>
      <br>
      <p>HireHive was built on the idea that professionals deserve more than just a job board—they need a platform that offers everything required for growth and success. After exploring existing recruitment platforms, we found that none provided a truly holistic experience, especially for business owners and investors. That's why HireHive goes beyond connecting employees and employers.  
        For job seekers, we’ve integrated top CV creation platforms so they can easily build their resumes without needing to visit multiple sites. For business owners, we provide not only access to top talent but also valuable resources, including videos packed with tips and insights to help them strategically grow their businesses. 
        By offering these features, along with an investor portal, HireHive is transforming the professional landscape, giving every user the tools they need to thrive—all in one place.</p>
    </div>
    <div class="what-img">
      <img src="../../../../assets/Story.jpeg" alt="Placeholder Image 1">
    </div>
  </div>
</div>
