<div class="background-container">
  <div class="who">
    <h3>Who We Are?</h3>
    <div class="who2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sapiente voluptatum perspiciatis magni illo aperiam! Excepturi quae voluptas ex aliquid quam accusamus quas modi est! Nisi consectetur sed dolore explicabo!</p>
    </div>
  </div>
  <div class="what">
    <h3>What We Do?</h3>
    <div class="what2">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta quam, tempore fuga porro, vel explicabo voluptas est soluta cumque illo ipsum vitae molestias, facere nemo consequuntur fugiat sapiente quaerat!</p>
    </div>
  </div>
</div>
