<div class="page">
    <div class="card flex justify-content-center m-5" *ngFor="let job of jobs">
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title>{{ job.title }} <span>  : </span> {{ job.companyName }}</mat-card-title>
        </mat-card-header> 
        <mat-card-content>
          <h4><span style="font-weight: 700;">Posted On: </span>{{ job.postedDate | date:'shortDate' }}</h4> 
          <p><span style="font-weight: 700;">Location : </span> {{ job.location }}</p>
          <p><span style="font-weight: 700;">Salary :</span> {{ job.salary }}Pkr</p>
          <p><span style="font-weight: 700;">Type :</span> {{ job.type }}</p>
          <p><span style="font-weight: 700;">Domain :</span> {{ job.category }}</p>
          <p class="m-2"> <span style="font-weight: 700;">Description : </span><br>{{ job.description }}</p>
        </mat-card-content>
        <hr>
        <br>
        <h1>Status: <span class="status">{{job.status}}</span></h1>
      </mat-card>
    </div>
  </div>