<div class="employeeProfilePage">
  <div class="create-upload">
    <div class="upload-file" (click)="openUrl('file1')">
      <h1>Canva</h1>
      <!-- <div class="card flex justify-content-center">
        <h1 href="https://www.canva.com/resumes/templates/" target="_blank">CANVA</h1>
        <p-toast></p-toast>
      </div> -->
    </div>
    <div class="upload-file" (click)="openUrl('file2')">
      <h1>Zety</h1>
      <!-- <div class="card flex justify-content-center">
        <p-toast></p-toast>
      </div> -->
    </div>
    <div class="upload-file" (click)="openUrl('file3')">
      <h1>Resume.io</h1>
      <!-- <div class="card flex justify-content-center">
        <p-toast></p-toast>
      </div> -->
    </div>
  </div>
</div>
