<div class="create-upload">
  <div class="upload-file">
    <div class="card flex justify-content-center">
      <p-toast></p-toast>
    </div>
  </div>
  <div class="upload-file">
    <div class="card flex justify-content-center">
      <p-toast></p-toast>
    </div>
  </div>
  <div class="upload-file">
    <!-- <h1>Upload Your CV</h1> -->
    <div class="card flex justify-content-center">
      <p-toast></p-toast>
      <!-- <p-fileUpload #fileUploader mode="basic" chooseLabel="Choose File" name="file" accept=".pdf"
        [maxFileSize]="1000000" (onSelect)="onFileSelect($event)" [auto]="false">
      </p-fileUpload> -->
    </div>
  </div>
  <div class="upload-file">
    <!-- <h1>Create a CV</h1> -->
    <section>
      <div class="example-button-row">
        <!-- <button class="btn custom-btn" mat-raised-button color="primary">Create</button> -->
      </div>
    </section>
  </div>
</div>