<div class="mainClass">
<div class="container">
    <div class="card" onclick="window.open('https://youtu.be/eHJnEHyyN1Y', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/eHJnEHyyN1Y/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">6 Tips on Being a Successful Entrepreneur | John Mullins | TED</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/l1fodZNF1GI?si=I5dDbsHY1WYikjaW', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/l1fodZNF1GI/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">How to build a business that lasts 100 years | Martin Reeves</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/XVXmYD0UPRQ?si=OWmTgxt-pKo8C4px', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/XVXmYD0UPRQ/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">Two reasons companies fail -- and how to avoid them | Knut Haanaes</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/bNpx7gpSqbY?si=FwxlwlN8CFXCW3cH', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/bNpx7gpSqbY/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">The single biggest reason why start-ups succeed | Bill Gross | TED</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/6pY7EjqD3QA?si=kDB1IbsYXoSlH4H5', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/6pY7EjqD3QA/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">The four-letter code to selling anything | Derek Thompson | TEDxBinghamtonUniversity</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/4ci_VgbCohc?si=OWO-ZrsLMgOC37O5', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/4ci_VgbCohc/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">Survival Tips for New Startup Entrepreneurs | Keshav Chintamani | TEDxRWTHAachen</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/owS4NQmzv2w?si=RWfhxlen9G1q9WHB', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/owS4NQmzv2w/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">How to start your own business without investors | Nicholas Hänny | TEDxHochschuleLuzern</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/WXBA4eWskrc?si=FdMMxjDh-YfQqqDd', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/WXBA4eWskrc/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">The Philosophy of Time Management | Brad Aeon | TEDxConcordia</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/CzJUCxwz8hk?si=RRuy5Ug-vhwgn2VJ', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/CzJUCxwz8hk/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">Zero Equals One: Creating A Business From Nothing | Riley Csernica | TEDxCharleston</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
    <div class="card" onclick="window.open('https://youtu.be/vlpKyLklDDY?si=UO38VLuFtadGbN6u', '_blank')">
        <div class="img">
            <img src="https://img.youtube.com/vi/vlpKyLklDDY/0.jpg" alt="Video Thumbnail">
        </div>
        <div class="title">
            <h3 style="font-weight: 500;">Great leadership starts with self-leadership | Lars Sudmann | TEDxUCLouvain</h3>
            <!-- <p>Description or additional info here.</p> -->
        </div>
    </div>
</div>
</div>