

<div id="login-container">
  <div class="background-container"></div>
  <div id="login-animations"></div>
  <div class="form-container">
    <form [formGroup]="LoginForm" (ngSubmit)="OnLogin()">
      <p-card header="Login" class="p-card">
        <div class="field">
          <label for="email">Email</label>
          <input type="text" pInputText formControlName="email" name="email" placeholder="Enter Your Email"/>
          <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
            <div *ngIf="email.errors?.['required']">
                Email is required
            </div>
            <div *ngIf="email.errors?.['email']">
              Email should be valid
            </div>
          </small>
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" pInputText formControlName="password" name="password" placeholder="Enter Your Password"/>
          <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
            <div *ngIf="password.errors?.['required']">
              Password is required
            </div>
          </small>
        </div>
        <p-button label="SIGN IN" styleClass="w-full" [disabled]="LoginForm.invalid" type="submit"></p-button>
        <div class="mt-2">
          Not a member? <a routerLink="/sign-up">SIGN UP</a>
        </div>
      </p-card>
    </form>
  </div>
</div>
